<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>No Data</title>
</head>

<body>
    <ul>
        <li>
            No data โปรดติดต่อ Admin
        </li>
        <li onclick="winClose()">
            <a href="http://">close</a>
        </li>
    </ul>

</body>
<script>
    function winClose() {
        window.close()
    }
</script>

</html>